header {
  background-color: #f2e5bc;
  padding: 10px 20px;
  margin: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
}

.header.h1 {
  margin-left: 10px;
  font-size: 24px;
}
